<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,222},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,50}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,120},{14,44}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{14,44}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,182},{38,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,258},{32,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{32,50}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,292},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{30,44}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,261},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{30,50}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{36,51}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,51}}</string>
                <key>sourceSize</key>
                <string>{40,55}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,70},{24,48}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{24,48}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,456},{38,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,293},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,328},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,136},{96,44}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,9},{96,44}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{126,46}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,7},{126,46}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>cup.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,182},{43,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,64}}</string>
                <key>sourceSize</key>
                <string>{43,64}</string>
            </dict>
            <key>cup_64x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,70},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{241,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,32}}</string>
                <key>sourceSize</key>
                <string>{241,32}</string>
            </dict>
            <key>gate.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,227},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>scoreboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>washer.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,324},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>yuo_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,32}}</string>
                <key>sourceSize</key>
                <string>{241,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46fdf3eafb986c3bb499e6a8b93892c3:1/1$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
